#profile-picture-container { align-self: center; }

#about-me-container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	padding-bottom: 25px;
}

#profile-picture-container #profile-picture-content { 
	max-width: 100%; 
	align-self: center;
	vertical-align: middle;
}

#about-me-container #about-me-content { 
	text-align: left;
	align-self: center;
	padding-left: 25px; 
	line-height: 1.6em;
	text-rendering: optimizeLegibility;
}

#about-me-container #about-me-title {
	display: contents;
}

@media screen and (max-width: 500px) { 
	#about-me-container { display: block; } 
	#about-me-container #about-me-content { padding-left: 0px; }
	#profile-picture-container { margin-bottom: 25px; }

	#profile-picture-container #profile-picture-content { 
		margin: 0 auto;
		display: block;
		max-width: 75vw; 
	}
}
