#profile-picture-container { align-self: center; }

#about-me-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

#profile-picture-container #profile-picture-content { 
	max-width: 100%; 
	align-self: center;
	vertical-align: middle;
}

@media screen and (max-width: 600px) { 
	#about-me-container { display: block; } 

	#profile-picture-container #profile-picture-content { 
		margin: 0 auto;
		display: block;
		max-width: 75vw; 
	}
}

#about-me-container #about-me-content { 
	text-align: left;
	align-self: center;
	padding-left: 25px; 
	line-height: 1.4em;
	text-rendering: optimizeLegibility;
}