/*
Blog Posts
*/

/*Containers*/

.posts {
  margin: 0 auto;
  font-size: 1em;
  max-width: 800px !important;
  padding: 0 2.5em 0.5em 2.5em;
  font-family: 'Roboto', sans-serif;
}

.projectParagraph {
  padding-top: 0.25em;  
}

/*Post Information*/

#postDate {
  color: #777;
  font-size: .9em;
  font-weight: lighter;
}

#postStar {
  margin-left: 1em;
  margin-right: -1.5em;
}

#postTitle {
  color: #666;
  margin-left: 1.5em;
  font-weight: lighter;
}

#postInformation {
  font-size: .95em;
  line-height: 1em;
}

.postLinkDescription {
  color: #999;
  float: right;
  margin-left: 1.5em;
  font-weight: lighter;
}

#postTags,#postTagsSmall {
  color: white;
  float: right;
  font-size: .9em;
  border-radius: 5%;
  font-weight: lighter;
  padding: 2.5px 5px 2.5px 5px;
  margin-left: calc(1.5em + 2.5px);
}

.post-content-figure {
  margin: 0;
}

.post-content-figure img {
  width: 100%;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

table {
  width: 100%;
  display: block;
  padding: 0.5em;
  margin-top: 1em;
  max-width: 600px;
  overflow-x: scroll;
  margin-bottom: 1em;
  border: 1px solid #e5e5e5;
  font-family: 'Roboto', serif;
}

table thead th {
  width: 100%;
  text-align: center;
}

table tbody td {
  line-height: 1.5em;
  color: var(#777);
  margin-bottom: 0.5em;
}

/*Tags*/

.Programming {
  background-color: #E08283;
}

.Writing {
  background-color: #e15f41;
}

.Music {
  background-color: #f78fb3;
}

.Games {
  background-color: #786fa6;
}

.Art {
  background-color: #F79F1F;
}

.Devlog {
  background-color: #6c5ce7; 
}

.Lifestyle {
 background-color: #27ae60; 
}

/*Post Content*/

.postTitleClassTopPadding {
  padding-top: 1em; 
}

.postContent p {
  text-align: justify;
}

.postContent {
  color: #777;
  font-size: 1em;
  max-width: 600px;
  overflow-x: hidden; 
  line-height: 1.5em;
  margin: 0 auto 1em auto;
  padding: 0 2.5em 0 2.5em;
  font-family: 'Roboto', sans-serif;
}

.postContent h3,.postContent h4,.about h3 {
  margin-top: 0;
  font-size: 1.15em;
}

.postContent h4 {
  font-size: 1em;
}

.postContent blockquote + p {
  text-indent: 0em;
}

.postContent p > img {
  margin: 0 auto;
  display: block;
  width: calc(100% - 2 * 1em);
  padding: 1em;
  background-color: #fcfcfc;
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

blockquote {
  margin-left: 0;
  padding-left: 2em;
  color: #999;
  border-left: 1px solid #e5e5e5;
}

.formerly-amelia {
  max-width: 200px;
}

.collect {
  max-width: 300px;
}

/*Miscellaneous*/

pre.highlight {
  padding: 0 1em 0 1em;
  font-size: .95em;
  border-radius: 5px;
  font-weight: lighter;
  background-color: #ececec;
  overflow-x: auto;
}

.lineno {
  color: #999;
}

/*Mobile*/

@media screen and (max-width: 750px) {
  #postDate {
    display: none;
    visibility: hidden;
  }

  #postTitle {
    margin-left: 0;
  }

  .postContent p > img {
    padding: 0em;
    width: 100%;
  }
}

/*Mobile*/

@media screen and (max-width: 1200px) {
  #postTags {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .postLinkDescription {
    display: none;
    visibility: hidden;
  }

  #postInformation {
    line-height: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  #postStar {
    margin-left: 0;
    margin-right: 0;
  }

  .posts {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0em;
    font-size: .95em;
  }

  pre.highlight {
    font-size: .75em;
  }
  
  .postsDescription {
    margin-top: 0px !important;
  }
}
