/*
Blog Posts
*/


/*Containers*/
.posts {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 2.5em 0 2.5em;

  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

/*Post Information*/
#postDate {
  color: #999;
  font-size: .9em;
  font-weight: lighter;
}
#postTitle {
  color: #888;
  margin-left: 1.5em;
  font-weight: lighter;
}
#postInformation {
  font-size: .95em;
  line-height: 1.35em;
}
#markdown-toc {
  color: #999;
  float: right;
  margin-top: 0em;
  max-width: 400px;
  margin-bottom: 0em;
  line-height: 1.5em;
}
#postTags {
  color: white;
  font-size: .9em;
  font-weight: lighter;

  float: right;
  border-radius: 5%;
  margin-left: calc(1.5em + 2.5px);
  padding: 2.5px 4px 2.5px 4px;
}
.imageLeft {
  max-width: 25%;
  float: right; 
  margin-left: 1em;
}

/*Tags*/
.VideoGames { background-color: #6C7A89; }
.Programming { background-color: #95A5A6; }
.Writing { background-color: #ABB7B7; }
.Favorite { background-color: #F9BF3B; }

/*Post Content*/
.postContent {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 2.5em 0 2.5em;

  color: #777;
  font-size: .95em;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
}
.postContent h3,
.postContent h4 {
  font-size: 1.15em;
  text-align: center;
}
.postContent h4 { font-size: 1em;}
.postContent blockquote + p {
  text-indent: 0em;
}
.postContent p > img {
  margin: 0 auto;
  display: block;
  width: calc(100% - 2 * 1em);

  padding: 1em;
  background-color: #fcfcfc;
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}
blockquote {
  margin-left: 0;
  padding-left: 2em;
  color: #999;
  border-left: 1px solid #e5e5e5;
}

/*Miscellaneous*/
#backLink {
  word-spacing: normal;
}
.MJXc-display,
pre.highlight {
  padding: 0 1em 0 1em;
  font-size: .95em;
  border-radius: 5px;
  font-weight: lighter;
  background-color: #ececec;
  overflow-x: auto;
}
.MJXc-display {
  padding: 1em !important;
}
.lineno { color: #999; }

/*Mobile*/
@media screen and (max-width: 500px) {
  #postDate,
  #markdown-toc {
    display: none;
    visibility: hidden;
  }
  #postTitle {
    margin-left: 0;
  }
  .postContent p > img {
    padding: 0em;
    width: 100%;
  }
}

/*Mobile*/
@media screen and (max-width: 1200px) {
  #postTags {
    display: none;
    visibility: hidden;
  }
}
