/*
Blog Posts
*/

/*Containers*/

.posts {
  margin: 0 auto;
  max-width: 800px !important;
  padding: 0 2.5em 0 2.5em;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

/*Post Information*/

#postDate {
  color: #777;
  font-size: .9em;
  font-weight: lighter;
}

#postTitle {
  color: #666;
  margin-left: 1.5em;
  font-weight: lighter;
}

#postInformation {
  font-size: .95em;
  line-height: 1.35em;
}

.postLinkDescription {
  color: #999;
  margin-left: 1.5em;
  font-weight: lighter;
}

#postTags,#postTagsSmall {
  color: white;
  font-size: .9em;
  font-weight: lighter;
  border-radius: 5%;
  margin-left: calc(1.5em + 2.5px);
  padding: 2.5px 5px 2.5px 5px;
}

/*Tags*/

.Favorite {
  margin-right: -1em;
  background-color: #F9BF3B;
}

.InProgress {
  margin-right: -1em;
  background-color: #e55039;
}

.Programming {
  background-color: #E08283;
}

.Writing {
  background-color: #D24D57;
}

.App {
  background-color: #67809F;
}

.Book {
  background-color: #1dd1a1;
}

.Music {
  background-color: #222f3e;
}

.Tool {
  background-color: #e67e22;
}

.Games {
  background-color: #5f27cd;
}

/*Post Content*/

.postContent {
  margin: 0 auto 1em auto;
  max-width: 600px;
  padding: 0 2.5em 0 2.5em;
  color: #777;
  font-size: .95em;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.postContent h3,.postContent h4,.about h3 {
  font-size: 1.15em;
  text-align: center;
}

.postContent h4 {
  font-size: 1em;
}

.postContent blockquote + p {
  text-indent: 0em;
}

.postContent p > img {
  margin: 0 auto;
  display: block;
  width: calc(100% - 2 * 1em);
  padding: 1em;
  background-color: #fcfcfc;
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

blockquote {
  margin-left: 0;
  padding-left: 2em;
  color: #999;
  border-left: 1px solid #e5e5e5;
}

.formerly-amelia {
  max-width: 200px;
}

.collect {
  max-width: 300px;
}

/*Miscellaneous*/

pre.highlight {
  padding: 0 1em 0 1em;
  font-size: .95em;
  border-radius: 5px;
  font-weight: lighter;
  background-color: #ececec;
  overflow-x: auto;
}

.lineno {
  color: #999;
}

/*Mobile*/

@media screen and (max-width: 500px) {
  #postDate {
    display: none;
    visibility: hidden;
  }

  #postTitle {
    margin-left: 0;
  }

  .postContent p > img {
    padding: 0em;
    width: 100%;
  }
}

/*Mobile*/

@media screen and (max-width: 1200px) {
  #postTags {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 700px) {
  #postTagsSmall {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 500px) {
  .posts {
    margin-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0em;
    font-size: .95em;
  }

  pre.highlight {
    font-size: .75em;
  }
}
