#profile-picture-container { align-self: center; }

#contact-me-container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	padding-top: 25px;
	border-top: 1px solid rgba(94, 69, 75, .25);
}

#profile-picture-container #profile-picture-content { 
	max-width: 100%; 
	align-self: center;
	vertical-align: middle;
}

@media screen and (max-width: 500px) { 
	#contact-me-container { display: block; } 

	#profile-picture-container { margin-bottom: 25px; }

	#profile-picture-container #profile-picture-content { 
		margin: 0 auto;
		display: block;
		max-width: 75vw; 
	}
}

#contact-me-container #contact-me-content { 
	text-align: left;
	align-self: center;
	padding-right: 25px; 
	line-height: 1.4em;
	text-rendering: optimizeLegibility;
}

#contact-me-container #contact-me-title {
	display: contents;
}
