#personal-email { text-align: right; }
#version-number { text-align: center; }
#copyright-information { text-align: left; }
@media screen and (max-width: 500px) { #version-number { display: none; visibility: hidden; } }

.footer-container {
	display: grid;
	max-width: 800px;
	margin: 0 auto;
	grid-template-columns: auto auto auto;
	border-top: 1px solid rgba(94, 69, 75, .25);
}

.footer-content {
	padding: 25px;
	color: #848484;
	font-weight: 300;
	font-size: .9em;
	font-family: 'Sanchez', sans-serif;
}