.footer-navigation {
	display: grid;
	padding: 25px;
	margin: 0 auto;
	color: #5b4636;
	max-width: 800px;
	font-family: 'Sanchez', serif;
	grid-template-columns: auto auto;
	border-top: 1px solid rgba(94, 69, 75, .25);
}