/*
Description: Global styles for all site pages;
Last Updated: 06-05-2017;
Author: Michael Bassili;
*/

/*Imported Fonts*/
@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url('https://fonts.googleapis.com/css?family=Sanchez');

/*Global Styles*/
*, *:before, *:after {
  /*Maintain Box Borders*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  /*Normalize (fallback)*/
  margin: 0;
  padding: 0;
}
*, html, body {
  /*Antialiasing*/
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
  /*Handle Large Text-Blocks*/
  text-rendering: optimizeLegibility;
}
body {
  overflow-x: hidden;
  /*line-height: 1.5em;*/
  /*Background Color*/
  background-color: rgba(251, 240, 217, 1);
}

/*a-link Animations*/
a:link, a:visited {
  /*Opacity*/
  /*-webkit-opacity: .85;*/
     /*-moz-opacity: .85;*/
          /*opacity: .85;*/
  /*Transition*/
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
  /*Typography*/
  color: inherit;
  text-decoration: none;
}
a:hover {
  /*Transition*/
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
  /*Typography*/
  /*color: #2980B9;*/
  text-decoration: underline;
  /*border-bottom: 1px solid #2980B9;*/
}
a:active {
  /*Typography*/
  text-decoration: none;
}

/*Selection*/
::selection {
  background: rgba(0,0,0,0.2); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0,0,0,0.2); /* Gecko Browsers */
}
::-webkit-scrollbar {
  background-color: #f5f5f5; 
}
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}

/*Modal Override*/
#hoverImg {
    cursor: pointer;
    transition: 0.25s;
}

/*Modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}
#caption, #caption2, #caption3, #caption4, #caption5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption,
.modal-content, #caption2,
.modal-content, #caption3,
.modal-content, #caption4,
.modal-content, #caption5, { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.25s;
    animation-name: zoom;
    animation-duration: 0.25s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.25s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Mobile-Specific Styles*/
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}