/*
Landing Div
*/

.landing {
  min-height: 100vh;
  position: relative;
  text-align: center;
  overflow-y: hidden;
  background-color: #fcfcfc;
}

.noMarginBottom {
  margin-bottom: 0px;
}

.smallMarginBottom {
  margin-bottom: 0.5em;
}

.mainPageContainer {
  height: auto;
  max-height: 10vh;
}

.largeButtonContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em 0;
  justify-content: space-between;
}

.largeButton {
  flex: 1 0 50%;
  display: block;
  padding: 1em 0;
  cursor: pointer;
  max-height: 24px;
  margin-bottom: 1em;
  border-radius: 3px;
  background-color: #fcfcfc;
  max-width: calc((700px / 2) - 0.5em);

  /* Override Link Dashed Underline */
  border: 1px solid #e5e5e5 !important;

  /* Text */
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  color: #444 !important;
  font-family: 'Roboto', sans-serif;
}

.largeButton:nth-last-of-type(1) {
  margin-bottom: 0;
}

.largeButton:hover,
.largeButton:active {
  transition: .03s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .25);
}

#programmingButton {
  color: #fff !important;
  font-weight: 500 !important;
  background-color: #252934 !important;
  font-family: 'Raleway', sans-serif !important;
  text-shadow: 1px 1px #8f9095 !important;
}

#programmingButton:hover {
  color: #e31b6d !important;
}

#simpleScriptButton {
  color: #333333 !important;
  font-family: 'Copse', sans-serif;
  background-color: #ffcc00 !important;
  text-shadow: 1px 1px #3e70b1 !important;
}

#simpleScriptButton:hover {
  color: #3e70b1 !important;
}

#journalismButton {
  color: #222222 !important;
  background-color: #4abdd2 !important;
  font-family: 'Source Serif Pro', serif !important;
  text-shadow: 1px 1px #0976b4 !important;
}

#journalismButton:hover {
  color: #337ab7 !important;
}

#renderingEngineButton {
  color: #b5e853 !important;
  background-color: #171717 !important;
  text-shadow: 1px 1px #294e99 !important;
  font-family: 'Space Mono', monospace !important;
}

#renderingEngineButton:hover {
  color: #666 !important;
}

@media screen and (max-width: 1000px) {
  .largeButton {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .largeButtonContainer {
    display: block;
    margin-top: 1.5em;
  }

  .largeButton {
    max-width: 100%;
    margin-bottom: 1em;
  }
}