/*
Landing Div
*/

.landing {
  min-height: 100vh;
  position: relative;
  text-align: center;
  overflow-y: hidden;
  background-color: #fcfcfc;
}

.noMarginBottom {
  margin-bottom: 0px;
}

.smallMarginBottom {
  margin-bottom: 0.5em;
}

.aboutSection {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.mainPageContainer {
  height: 60vh;
  max-height: 60vh;
}