/*
Landing Div
*/

.landing {
  min-height: 100vh;
  position: relative;
  text-align: center;
  overflow-y: hidden;
  background-color: #fcfcfc;
}

.noMarginBottom {
  margin-bottom: 0px;
}

.smallMarginBottom {
  margin-bottom: 0.5em;
}

.aboutSection {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.mainPageContainer {
  height: auto;
  max-height: 10vh;
}

.largeButtonContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0 1.5em 0;
  justify-content: space-between;
}

.largeButton {
  flex-grow: 1;
  flex: 1 0 50%;
  display: block;
  padding: 1em 0;
  cursor: pointer;
  margin-bottom: 1em;
  border-radius: 3px;
  background-color: #fcfcfc;
  max-width: calc((600px / 2) - 0.5em);
  
  /* Override Link Dashed Underline */
  border: 1px solid #e5e5e5 !important;
  
  /* Text */
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  color: #666 !important;
  font-family: 'Roboto', sans-serif;
}

.largeButton:nth-last-of-type(1) {
  margin-bottom: 0;
}

.largeButton:hover,
.largeButton:active {
  transition: .03s;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

@media screen and (max-width: 500px) {
  .largeButtonContainer {
    display: block;
    margin-top: 1.5em;
  }
  
  .largeButton {
    max-width: 100%;
    margin-bottom: 1em;
  }
}
