@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

*, html, body {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	      -o-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
	background-color: #fbf0d9;
}

figcaption {
	font-size: .9em;
	padding-top: 5px;
	text-align: center;
}

a:link, a:visited {
	color: #848484;
  	text-decoration: none;
  	-webkit-transition: all .15s ease-in-out;
       -moz-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
}

a:hover {
	text-decoration: underline;
	-webkit-transition: all .15s ease-in-out;
	   -moz-transition: all .15s ease-in-out;
	        transition: all .15s ease-in-out;
}
a:active {
	text-decoration: none;
}

*::selection, *::-moz-selection {
	background: #cfeceb;
    text-shadow: none;
}

::-webkit-scrollbar {
	background-color: #f5f5f5; 
}

::-webkit-scrollbar-thumb {
	background: #e5e5e5;
}

.main-content {
	padding: 25px;
	margin: 0 auto;
	color: #5b4636;
	max-width: 800px;
	font-family: 'Droid Serif', serif;
	border-top: 1px solid rgba(94, 69, 75, .25);
}