/*--Main Site :: mainSiteStyles.css-*/
/*--
========================================
So you like code huh? Well I've got alot
of it for ya! However you should probably
go write your own. ( ͡° ͜ʖ ͡°)
========================================
--*/

/*General Styles*/
* {
  /*Normalize*/
  margin: 0;
}

/*Force Scrollbar; Just for me)*/
html {
  overflow-y: scroll;
}

/*Remove Horz Scroll on Odd Devices*/
body {
  overflow-x: hidden;
}

/*Scrollbar transparency*/
.scrollable-content::-webkit-scrollbar * {
    background:transparent;
}

/*Scrolling Settings*/
.scrollable-content {
      overflow-x:hidden;
      overflow-y:scroll;
    }

/*Sexy-Ass Faded Line*/
.fadedLine {
    /*margin-top: 0%;*/
    display: block;
}
  .fadedLine > span {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: #D3D3D3;
    /*background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #444349));*/
}

/*Normalize Links*/
a:link, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

/*Highlight Color*/
::selection {
  background: #D3D3D3; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #D3D3D3; /* Gecko Browsers */
}

/*Sexy-Ass Links*/
a::before,
a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
a::before{
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
a:hover::before,
a:hover::after,
a:focus::before,
a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/*Desktop Welcome*/
.welcomeBar {
  /*Sizing*/
  width: 100%;
  height: 100%;
  padding-bottom: 0%;
  /*Background*/
  /*background-image: url(../assets/stardust.jpg);*/
  background-color: #32425c;
	background-position: center bottom;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 40%;
  background-blend-mode: normal;
  /*Box Shadow*/
  /*-webkit-box-shadow: 0px -.2em .5em 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px -.2em .5em 0px rgba(0,0,0,0.6);
  box-shadow: 0px -.2em .5em 0px rgba(0,0,0,0.6);*/
  /*Animation*/
	/*animation: animatedBackground 50s linear infinite;*/
}
  @keyframes animatedBackground {
  	from { background-position: 0 0; }
  	to { background-position: 100% 0; }
  }
  .welcomeBar #logo {
    /*Spacing*/
    padding-top: 5%;
    padding-bottom: 3%;
    /*Display*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*Sizing*/
    width: 1.05em;
  }
  .welcomeBar #workspace {
    /*Spacing*/
    padding-top: 5%;
    /*Display*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*Sizing*/
    width: 28em;
  }
  .welcomeBar h1 {
    /*Vertical Spacing*/
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0;
    /*Horizontal Spacing*/
    padding-left: 7%;
    padding-right: 7%;
    /*Typography*/
    font-family: 'Megrim', sans-serif;
    color: white;
    text-align: center;
    font-size: 5.05em;
    font-weight: 300;
  }
  .welcomeBar h2 {
    /*Vertical Spacing*/
    padding-top: 0%;
    padding-bottom: 0%;
    /*Horizontal Spacing*/
    padding-left: 7%;
    padding-right: 7%;
    /*Typography*/
    font-family: 'Open Sans', sans-serif;
    color: #607189;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
  }

/*Desktop About*/
.about {
  /*Sizing*/
  width: 100%;
  height: auto;
  /*Spacing*/
  /*max-width: 2000px;*/
  margin-left: auto;
  margin-right: auto;
  /*Vertical Spacing*/
  padding-top: 2%;
  padding-bottom: 2%;
  /*Background*/
  background-color: #ebeff2;
}
  .about h1 {
    /*Vertical Spacing*/
    padding-top: 0%;
    padding-bottom: 0%;
    /*Horizontal Spacing*/
    padding-left: 23%;
    padding-right: 23%;
    /*Typography*/
    font-family: 'Open Sans', sans-serif;
    color: Black;
    text-align: center;
    font-size: 2.25em;
    font-weight: lighter;
  }
  .about h2 {
    /*Vertical Spacing*/
    padding-top: 0%;
    padding-bottom: 1%;
    /*Horizontal Spacing*/
    padding-left: 23%;
    padding-right: 23%;
    /*Typography*/
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    font-size: 1.3em;
    font-weight: lighter;
  }
  .about h3 {
    /*Vertical Spacing*/
    padding-top: 0%;
    padding-bottom: 0%;
    /*Horizontal Spacing*/
    padding-left: 23%;
    padding-right: 23%;
    /*Typography*/
    font-family: 'Open Sans', sans-serif;
    color: Black;
    text-align: left;
    font-size: 1.1em;
    font-weight: lighter;
    text-indent: 1em;
    /*text-indent: 2%;*/
    line-height: 140%;
  }
  .about h4 {
    /*Vertical Spacing*/
    padding-top: 0%;
    padding-bottom: .5%;
    /*Horizontal Spacing*/
    padding-left: 23%;
    padding-right: 23%;
    /*Typography*/
    font-family: 'Open Sans', sans-serif;
    color: Black;
    text-align: left;
    font-size: 1.1em;
    font-weight: 300;
    text-indent: 1em;
    /*text-indent: 2%;*/
    line-height: 140%;
  }

/*Portfolio Link*/
.portfolioLink-light {
  /*Sizing*/
  width: 100%;
  height: auto;
  /*Spacing*/
  /*max-width: 2000px;*/
  margin-left: auto;
  margin-right: auto;
  /*Vertical Spacing*/
  padding-top: 2%;
  padding-bottom: 2%;
  /*Background*/
  overflow-y: auto;
  background-color: white;
}
.portfolioLink-dark {
  /*Sizing*/
  width: 100%;
  height: auto;
  /*Spacing*/
  /*max-width: 2000px;*/
  margin-left: auto;
  margin-right: auto;
  /*Vertical Spacing*/
  padding-top: 2%;
  padding-bottom: 2%;
  /*Background*/
  overflow-y: auto;
  background-color: #ebeff2;
}
.portfolioLink-light h1,
.portfolioLink-dark h1 {
  /*Vertical Spacing*/
  padding-top: 0%;
  padding-bottom: 0%;
  /*Horizontal Spacing*/
  padding-left: 23%;
  padding-right: 23%;
  /*Typography*/
  font-family: 'Open Sans', sans-serif;
  color: Black;
  text-align: left;
  font-size: 1.75em;
  font-weight: 300
}
  .portfolioLink-light h1 span,
  .portfolioLink-dark h1 span {
    /*Typography*/
    font-size: .6em;
    /*Spacing*/
    padding-left: 1%;
  }
  .portfolioLink-light #employer,
  .portfolioLink-dark #employer {
    /*Sizing*/
    width: 5%;
    /*Positioning*/
    float: right;
    overflow: hidden;
    /*Spacing*/
    padding-left: 1%;
    padding-bottom: 1%;
  }
  .portfolioLink-light #employer-site,
  .portfolioLink-dark #employer-site {
    /*Sizing*/
    width: 100%;
    /*Positioning*/
    float: right;
    display: block;
    /*Spacing*/
    padding-bottom: 1%;
  }
.portfolioLink-light h2,
.portfolioLink-dark h2  {
  /*Vertical Spacing*/
  padding-top: 0%;
  padding-bottom: 0%;
  /*Horizontal Spacing*/
  padding-left: 23%;
  padding-right: 23%;
  /*Typography*/
  /*font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 1.25em;
  font-weight: 300;*/
}
.portfolioLink-light h3,
.portfolioLink-dark h3 {
  /*Vertical Spacing*/
  padding-top: 1%;
  padding-bottom: 1%;
  /*Horizontal Spacing*/
  padding-left: 23%;
  padding-right: 23%;
  /*Typography*/
  font-family: 'Open Sans', sans-serif;
  color: Black;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  text-indent: 0em;
  /*text-indent: 2%;*/
  line-height: 140%;
}

/*Desktop Contact*/
.contact {
  /*Sizing*/
  width: 100%;
  height: auto;
  /*Spacing*/
  /*max-width: 2000px;*/
  margin-left: auto;
  margin-right: auto;
  /*Vertical Spacing*/
  padding-top: 2%;
  padding-bottom: 2%;
  /*Background*/
  background-color: #ebeff2;
    }
    .contact h1 {
      /*Vertical Spacing*/
      padding-top: 0%;
      padding-bottom: 0%;
      /*Horizontal Spacing*/
      padding-left: 23%;
      padding-right: 23%;
      /*Typography*/
      font-family: 'Open Sans', sans-serif;
      color: Black;
      text-align: center;
      font-size: 2.25em;
      font-weight: 300
    }
    .contact h2  {
      /*Vertical Spacing*/
      padding-top: 0%;
      padding-bottom: 1%;
      /*Horizontal Spacing*/
      padding-left: 23%;
      padding-right: 23%;
      /*Typography*/
      font-family: 'Open Sans', sans-serif;
      color: black;
      text-align: center;
      font-size: 1.3em;
      font-weight: 300;
    }
      .contact h2 a {
        /*Typography*/
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 1em;
        font-weight: 300;
        color: #0e1717;
      }
    .contact h3 {
      /*Vertical Spacing*/
      padding-top: 0%;
      padding-bottom: 1%;
      /*Horizontal Spacing*/
      padding-left: 23%;
      padding-right: 23%;
      /*Typography*/
      font-family: 'Open Sans', sans-serif;
      color: Black;
      text-align: left;
      font-size: 1em;
      font-weight: 300;
      text-indent: 1em;
      /*text-indent: 2%;*/
      line-height: 140%;
    }

/*Desktop Footer*/
.footer {
  /*Sizing*/
  width: 100%;
  height: auto;
  /*Vertical Spacing*/
  padding-top: 2%;
  padding-bottom: 2%;
  /*Background*/
  /*background-image: url(../assets/stardust.jpg);*/
  background-color: #32425c;
	background-position: center bottom;
	background-repeat: repeat;
  background-attachment: fixed;
  background-size: 40%;
  background-blend-mode: normal;
}
  .footer  h1 {
    /*Horizontal Spacing*/
    padding-left: 23%;
    padding-right: 23%;
    /*Typography*/
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
  }
  .footer  h2 {
    /*Horizontal Spacing*/
    padding-left: 23%;
    padding-right: 23%;
    /*Typography*/
    font-family: 'Open Sans', sans-serif;
    color: #607189;
    text-align: center;
    font-size: .95em;
    font-weight: 300;
    }
    .footer a {
      /*Typography*/
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      font-size: 1em;
      font-weight: 300;
      color: #aab8cb;
      }
    .footer h3 {
      /*Spacing*/
      padding-left: 23%;
      padding-right: 23%;
      padding-bottom: 0%;
      /*Typography*/
      font-family: 'Open Sans', sans-serif;
      color: #607189;
      text-align: center;
      font-size: 1.5em;
      font-weight: 300;
    }
    .footer h4 {
      /*Spacing*/
      padding-left: 23%;
      padding-right: 23%;
      padding-bottom: 1%;
      /*Typography*/
      font-family: 'Open Sans', sans-serif;
      color: #607189;
      text-align: center;
      font-size: 1.1em;
      font-weight: 300;
    }


































/*Stamp*/
