/*
Navigation Bar
*/

/*Contextuals*/

.expandedNavigationBar {
  left: inherit;
  overflow-y: auto;
  position: inherit;
}

.current {
  text-decoration: underline !important;
}

.pageLinks a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*Navigation Bar Container*/

.navigationBar {
  top: 0;
  z-index: 10;
  width: 200px;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #F3F5F6;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

/*Navigation Bar Content*/

.navigationBar #picture {
  margin: 3em 2em 3em 2em;
  max-width: calc(100% - 2 * 2em);
}

.navigationBar #name {
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
  margin-bottom: -1.25em;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(102, 102, 102, 1);
  font-family: 'Megrim', cursive;
}

.navigationBar .links {
  list-style: none;
  text-align: center;
  margin: 0em 2em 0em 2em;
  padding: 3em 0em 3em 0em;
  font-weight: 300;
  line-height: 2em;
  font-size: .9em;
  color: rgba(102, 102, 102, 1);
  font-family: 'Roboto', sans-serif;
}

.navigationBar #pageLinks {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

/*Navigation Bar Footer*/

.navigationBar #footer {
  max-width: 100%;
  text-align: center;
  padding: 3em 0 1em 0;
  font-size: .75em;
  font-weight: 100;
  color: rgba(102, 102, 102, 1);
  font-family: 'Roboto', sans-serif;
}

/*Mobile Contextuals*/

@media screen and (max-width: 500px) {
  .navigationBar #pageLinks {
    margin: 0em 1em 0em 1em;
  }

  .navigationBar {
    width: 100%;
    max-height: 30px;
    overflow-y: hidden;
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.1);
  }

  .navigationBar #picture {
    display: none;
    visibility: hidden;
  }

  .navigationBar #pageLinks,  .navigationBar #footer {
    display: flex;
    font-size: .9em;
    border-top: 0px;
    text-align: center;
    border-bottom: 0px;
    justify-content: space-between;
    padding: 1px;
  }

  .navigationBar #name {
    display: none;
    visibility: hidden;
  }

  .expanded {
    left: 0;
    width: 100%;
  }

  .navigationBar #footer {
    display: none;
    visibility: hidden;
  }
}
