/* Styles for the Landing Page */

.landingPage, .welcomeContainer {
    overflow-y: hidden;
    overflow-x: hidden;
}

.particleDisplay {
    height: 100vh;
}

#welcomeContainer {
    top: 35%; /* Move Title A Little Above Center */
    left: 50%;
    width: 100%;
    position: absolute;
    vertical-align: middle;
    transform: translate(-50%, -50%);
}

#welcomeContainer #title {
    color: #666;
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    padding-bottom: 15px;
    letter-spacing: 0.15em;
    font-family: 'Megrim', sans-serif;
}

#welcomeContainer #subtitle {
    color: #888;
    margin-top: -3em;
    font-weight: 300;
    font-size: 1.25em;
    text-align: center;
    font-style: normal;
    text-indent: .15em;
    padding-bottom: 15px;
    letter-spacing: 0.665em;
    font-family: 'Roboto', sans-serif;
}

.project-showcase-container {
    background-color: #fcfcfc;
    border-top: 1px solid #e5e5e5;
}

#project-showcase-title {
    color: #848484;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Roboto', sans-serif;
}

#project-showcase-button-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: space-between;
}

.project-showcase-button {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
    flex: 0 calc(50% - 2em);
    box-shadow: 0px 0px 5px 0px rgba(213, 194, 190, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(213, 194, 190, 0.25);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(213, 194, 190, 0.25);
}

.project-showcase-button:hover, .project-showcase-button:active {
    transition: 0.1s;
    box-shadow: 0px 0px 5px 0px rgba(213, 194, 190, .75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(213, 194, 190, .75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(213, 194, 190, .75);

}

.project-showcase-button a {
    padding: 1em;
    display: block;
}

.project-showcase-button#mikes-gaming-trove {
    background-color: #e7dfc6;
    border: solid 1px #d5c2be;
    font-family: 'Alfa Slab One', serif;
}

.project-showcase-button#mikes-gaming-trove a {
    color: #3c0101;
}

.project-showcase-button#mikes-gaming-trove a::first-letter,
.project-showcase-button#mikes-gaming-trove a:hover,
.project-showcase-button#mikes-gaming-trove a:active {
    color: #b02336;
}

@media screen and (max-width:500px) {
    #welcomeContainer #title {
        font-size: 3em;
        letter-spacing: 0em;
    }
    
    #welcomeContainer #subtitle {
        margin-top: -2.5em;
        letter-spacing: .16em;
    }
    
    .particleDisplay {
        margin-top: 30px;   
        height: calc(100vh - 30px);
    }
}
