.post-content p:last-child { padding-bottom: 0px; }
.post-content p:first-child { text-indent: 0em; } 
.post-excerpt-container { align-self: center; }
.post-excerpt-container .post-excerpt-content { text-align: right; }
.post-title-container > #post-title, #post-date { text-align: center; }
.post-information > #post-title, .post-information > #post-date { text-align: left; }

.post-title-container {
	display: grid;
	padding: 0px 0px 25px 0px;
	grid-template-columns: auto auto;
	border-bottom: 1px solid rgba(94, 69, 75, .25);
}

.post-list:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}

.post-content {
	margin: 0 auto;
	color: #5b4636;
	max-width: 800px;
	margin-top: 25px;
	padding-top: 25px;
	font-family: 'Droid Serif', serif;
	border-top: 1px solid rgba(94, 69, 75, .25);
}

.post-content p {
	text-indent: 2em;
	text-align: left;
	align-self: center;
	line-height: 1.4em;
	padding-bottom: 25px;
	text-rendering: optimizeLegibility;
}

.post-page {
	padding: 0px !important;
	border-bottom: none !important;
}

.post-content img { 
	width: 100%;
	margin-left: -2em; 
} 

.post-content figcaption {
	margin-top: -25px;
	padding-bottom: 25px;
}
