/*
Description: Project styles for all site pages;
Last Updated: 06-05-2017;
Author: Michael Bassili;
*/

/*Text Content*/
.textContent {
    /*Centering*/
    margin-left: auto;
    line-height: 1.5em;
    margin-right: auto;
    /*Display*/
    z-index: 1;
    /*Spacing*/
    margin-top: calc(1.5em + 45px);
    padding: 15px;
    margin-bottom: .5em;
    margin-top: .5em;
  }
  .textContent #title {
    /*Typography*/
    font-family: 'Sanchez', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #5e454b;
    opacity: 1;
    text-align: center;
    /*Spacing*/
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .textContent #contactText {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555555;
    opacity: 1;
    font-style: normal;
    text-align: justify;
    /*Spacing*/
    text-indent: 1em;
    /*Display*/
    display: block;
    margin: 0 auto;
  }
  .textContent #contactLinks {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444;
    font-style: normal;
    text-align: center;
    /*Spacing*/
    padding-bottom: 15px;
    /*Display*/
    display: block;
  }

/*Projects Tiles*/
.projects {
    /*Centering*/
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    /*Display*/
    z-index: 1;
    /*Spacing*/
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
  }
  .mySlides img {
    display: block;
  }
  .next, .prev {
    /*Hide Arrow Buttons*/
    display: none;
    visibility: hidden;
  }
  .linkCenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*Spacing*/
    padding-top: 25px; 
    /*Typography*/
    font-family: "Roboto", sans-serif;
  }

/*Project Descriptions*/
.projectDescription {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #848484;
  font-style: normal;
  text-align: left;
  text-indent: 1em;
  /*Spacing*/
  padding-top: 25px;
  font-size: 1.05em;
  line-height: 1.5em;
  /*Sizing*/
  max-width: 800px;
  margin: 0 auto;
}
    .projectDescription a {
      border-bottom: dotted 1px #848484;
    }
    .projectDescription a:hover {
      border-bottom: solid 1px #848484 !important;
      text-decoration: none;
    }

/*Project Lists*/
.projects #projectList {
  /*Centering*/
  margin: 0 auto;
  text-align: center;
}
  .projects #projectItem {
    /*Display*/
    display: inline-block;
    /*Spacing*/
    vertical-align: top;
  }

/*Project Links*/
.projectLinks {
  color: #5e454b;
  opacity: .75;
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Sanchez', serif;
  border-bottom: 1px solid rgba(243, 240, 215, .5);
}
  .projectLinks:hover {
    border-bottom: 1px solid rgba(94, 69, 75, .25);
    text-decoration: none;
  }

/*Item Links*/
.projectItemLink {
  /*Display*/
  display: block;
  overflow: hidden;
  /*Spacing*/
  padding-top: 25px;
}
  .projectItemLink > .projectItemLinkContent {
    /*Display*/
    display: inline;
    float: left;
    clear: left;
    /*Typography*/
    font-family: 'Sanchez', sans-serif;
    font-weight: 300;
    color: #5e454b;
    opacity: 1;
    font-style: normal;
  }
      .projectItemLink > .projectItemLinkContent > img {
        /*Sizing*/
        max-width: 1em;
      }
  .projectItemLink > .projectItemLinkFollow {
    /*Display*/
    display: inline;
    float: right;
    clear: right;
  }
  .projectItemLink > .projectItemLinkFollow a {
    /*Typography*/
    color: #848484;
    opacity: .75;
    font-family: 'Sanchez', serif;
    border-bottom: 1px solid rgba(243, 240, 215, .5);
  }
    .projectItemLink > .projectItemLinkFollow a:hover {
      border-bottom: 1px solid rgba(94, 69, 75, .25);
      text-decoration: none;
    }

/*Tile Cards*/
.card {
  width: 100%;
  background-color: #d8b384;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,.15);
  padding: 5px;    
  color: #444;
  font-weight: 300;
  margin-top: 4px;
  /*Transition*/
-webkit-transition: all .15s ease-in-out;
   -moz-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
}
.card:hover {
  cursor: pointer;
  transform: scale(.975, .975);
}
.card-image {
  /*Frame*/
  box-shadow: 1px 1px 3px rgba(0,0,0,.15) ;
}
.card.info {
  background-color: #5C9DED;
  color: #fff;
  box-shadow: 1px 1px 4px #e5e5e5;
}
.card.info button {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 5px 30px;
  border-radius: 2px;
  display: block;
  margin: 10px auto;
}
.card.info button:hover {
  background-color: #fff;
  color: #5C9DED;
}
.card.info img {
  width: 30%;
  height: auto;
  margin: 10px auto;
}
.card.photo {
  padding: 0;
}
.card.photo > .card-content {
  padding: 15px;
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #666;
  font-style: normal;
  text-align: center;
}
  .card-content  h3 {
    padding: 5px;
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #555;
    font-style: normal;
    text-align: center;
  }
.card.photo > .card-content button {
  padding: 8px 30px;
  background-color: #f0f0f0;
  border: 1px solid #dadada;
  font-weight: 300;
  border-radius: 2px;
  color: #fff;
  background-color: #5C9DED;
  border: 1px solid #4B8CDC;
  margin: 20px 0 10px;
}
.card.photo > .card-content .repo {
  padding: 8px 30px;
  background-color: #27ae60;
  border: 1px solid #2ecc71;
  font-weight: 300;
  border-radius: 2px;
  color: #fff;
  background-color: #27ae60;
  border: 1px solid #2ecc71;
  margin: 20px 0 10px;
}
.card.photo > .card-content .image {
  padding: 8px 30px;
  background-color: #D2527F;
  border: 1px solid #F1A9A0;
  font-weight: 300;
  border-radius: 2px;
  color: #fff;
  background-color: #D2527F;
  border: 1px solid #F1A9A0;
  margin: 20px 0 10px;
}
.card-image {
  overflow: auto;
}
.screencaps {
  text-align: center;
}
.card-image p {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #5e454b;
  opacity: .75;
  font-style: normal;
  text-align: left;
  padding: 10px;
  padding-top: 5px; 
  display: inline-block;
  float: left;
}
.card-image span:hover {
  /*Transition*/
  text-decoration: underline;
}
  .card-image span {
    /*Typography*/
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #5e454b;
    opacity: .5;
    font-style: normal;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 1px dotted rgba(94, 69, 75, .25);
    display: inline-block;
    text-align: right;
    float: right;
  }
  .card-image span:hover {
    opacity: .75;
    text-decoration: none ;
  }
.card.photo img {
  width: 100%;
  height: auto;
  display: block;
}
  .portfolioTitle {
    /*margin-top: 2.25em;*/
  }
  .designTitle {
    margin-top: 0em;
  }

/*Portfolio Items*/
.portfolio {
  /*margin-top: .75em;*/
  /*padding-bottom: 25px;*/
}
  .landingPortfolio {
    border-bottom: 1px solid rgba(94, 69, 75, .25);
  }

/*4k-Specific Styles*/
@media screen and (min-width: 2000px) {
  .projectItemLink > .projectItemLinkContent {
    font-size: 1.25em;
  }
  .textContent {
    /*Sizing*/
    width: 800px;
  }
  .textContent #title {
    /*Typography*/
    font-size: 1.5em;
  }
  .textContent #contactText {
    /*Typography*/
    font-size: 1.05em;
  }
  .textContent #contactLinks {
    /*Typography*/
    font-size: 1.05em;
  }
  .projects {
    /*Sizing*/
    width: 800px;
  }
  #title {
    /*Typography*/
    font-size: 1.5em;
  }
  .projects #projectList {
    /*Centering*/
    margin: 0 auto;
    text-align: center;
  }
  .projects #projectItem {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: 33%;
  }
  #epicItem {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: 49.75%;
  }
  .large-card {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: calc(50% - 10px) !important;
  }
  .projects #projectItemSmall {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: calc(32% - 0px);
  }
  .card {
    font-size: 0.95em;
  }
  .card.photo > .card-content {
    /*Typography*/
    font-size: 1.05em;
  }
    .card-content  h3 {
      /*Typography*/
      font-size: 1.25em;
    }
  .card.photo > .card-content button {
    font-size: 1em;
  }
  .card.photo > .card-content .repo {
    font-size: 1em;
  }
}

/*Desktop-Specific Styles*/
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  .projectItemLink > .projectItemLinkContent {
    font-size: 1.25em;
  }
  .textContent {
    /*Sizing*/
    width: 800px;
  }
  .textContent #title {
    /*Typography*/
    font-size: 1.5em;
  }
  .textContent #contactText {
    /*Typography*/
    font-size: 1.05em;
  }
  .textContent #contactLinks {
    /*Typography*/
    font-size: 1em;
  }
  .projects {
    /*Sizing*/
    width: 800px;
  }
  #title {
    /*Typography*/
    font-size: 2em;
  }
  .projects #projectItem {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: 33%;
  }
  #epicItem {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: 49.75%;
  }
  .projects #projectItemSmall {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: calc(32% - 0px);
  }
  .card {
    font-size: 0.95em;
  }
  .card.photo > .card-content {
    /*Typography*/
    font-size: 1.05em;
  }
    .card-content  h3 {
      /*Typography*/
      font-size: 1.25em;
    }
  .card.photo > .card-content button {
    font-size: 1em;
  }
  .card.photo > .card-content .repo {
    font-size: 1em;
  }
  .large-card {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: calc(50% - 10px) !important;
  }
}

/*Tablet-Specific Styles*/
@media screen and (min-width: 400px) and (max-width: 1000px) {
    .projectItemLink > .projectItemLinkContent {
      font-size: 1.25em;
    }
    .projects #projectItem {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: 32%;
  }
}

/*Mobile-Specific Styles*/
@media screen and (max-width: 400px) {
  .projectItemLink > .projectItemLinkContent {
    font-size: 1.25em;
  }
  .textContent {
    /*Sizing*/
    max-width: 800px;
  }
  .textContent #title {
    /*Typography*/
    font-size: 1.5em;
  }
  .textContent #contactText {
    /*Typography*/
    font-size: 1em;
  }
  .textContent #contactLinks {
    /*Typography*/
    font-size: 1em;
    margin: 0 auto;
  }
  .screencaps {
    visibility: hidden;
    display: none;
  }
  .projects {
      /*Sizing*/
      width: 100vw;
    }
  #title {
    /*Typography*/
    font-size: 1.5em;
  }
  .projects #projectItem {
    /*Display*/
    display: block;
    /*Sizing*/
    width: 100%;
  }
  .card {
    max-width: 500px;
    font-size: 0.95em;
    margin-left: auto;
    margin-right: auto;  
  }
  .card.photo > .card-content {
    /*Typography*/
    font-size: 1em;
  }
    .card-content  h3 {
      /*Typography*/
      font-size: 1.25em;
    }
  .card.photo > .card-content button {
    font-size: 1em;
  }
  .card.photo > .card-content .repo {
    font-size: 1em;
  }
  .portfolioTitle {
    /*margin-top: 2em;*/
  }
}