/*
Title Bar
*/

/*Title Bar Container*/

.titleBar {
  height: auto;
  max-height: 25vh;
  margin-bottom: 1em;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  padding-top: .75em;
}

/*Title Bar Body*/

.titleBar #title {
  color: #848484;
  font-weight: 300;
  font-size: 1.15em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0 !important;
  font-family: 'Roboto', sans-serif;
}

.titleBar #subTitleLinks {
  margin-top: -.5em;
  font-size: .9em;
  color: #848484;
  font-weight: 300;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 500px) {
  #titleBar {
    margin-top: 30px;
    padding-bottom: 1em;
  }

  .titleBar #title,
  .titleBar #subTitleLinks {
    display: inline;
    font-size: 0.9em;
  }

  .titleBar #subTitleLinks {
    text-align: right;
    padding-left: 1em;
  }

  .titleBar #subTitleLinks a {
    margin-left: 0em;
    margin-right: 1em; 
  }

  .hiddenMobileTitleBar,
  .titleBar #title {
    display: none;
    visibility: hidden;
  }
}