/*
Title Bar
*/


/*Title Bar Container*/
.titleBar {
  height: auto;
  margin-bottom: 1em;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
}

/*Title Bar Body*/
.titleBar #title {
  color: #848484;
  font-weight: 300;
  font-size: 1.15em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.titleBar #subTitleLinks {
  margin-top: -.5em;

  font-size: .9em;
  color: #848484;
  font-weight: 300;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
