{% for post in site.posts %}
  {% if post.featured == true %}
    {% assign is-featured = true %}
  {% endif %}
{% endfor %}

{% if is-featured == true %}
{% assign count = 0 %}
{% assign featuredPosts = site.posts | where: 'featured', true %}
<div class="widget-sidebar widget-featured-posts">
  <h2 class="widget-sidebar-title">Featured posts</h2>
  {% for fp in featuredPosts %}
    {% if fp.url != page.url %}
    {% assign count = count | plus:1 %}
    <div class="post-featured-content">
      <div class="article__meta-info">
        <span class="article__date"><time datetime="{{ fp.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%d %-b, %Y" %}{{ fp.date | date: date_format }}</time></span>
        <span class="article__separator">•</span>
        <span class="article__reading-time">
          {% assign words = fp.content | number_of_words %}
          {% if words < 360 %}
            {% assign reading_time = 1 %}
          {% else %}
            {% assign reading_time = words | divided_by: 180 %}
          {% endif %}
          {{ reading_time }} min read
        </span>
      </div>

      <h3 class="post-featured-title"><a href="{{ fp.url }}">{{ fp.title }}</a></h3>
      <p class="post-featured-excerpt">{% if fp.description %}{{ fp.description }}{% else %}{{ fp.content | strip_html | truncate: 250 }}{% endif %}</p>
      
      {% if fp.tags.size >= 1 %}
      <div class="article__tags">
        {% for tag in fp.tags %}
          <a href="{{ site.baseurl }}/articles/?tag={{ tag | downcase | url_encode }}" class="tag-cloud-item">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% if count == 3 %}{% break %}
    {% endif %}
  {% endif %}
{% endfor %}
</div>
{% endif %}