/* Animate */
.animate {
  animation: animateElement cubic-bezier(0.3, 0.45, 0.45, 0.95) .5s;
  will-change: opacity;

  @keyframes animateElement {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}