<!-- Footer Navigation -->
		<div class="footer-navigation">
			
			{% assign previous_content = page.previous.content | strip_newlines %}
			{% if previous_content != "" %}<div id="post-back">Previous Post:</div>
			<div id="next-post"><a href="{{page.previous.url}}">{{page.previous.title}}</a></div>{% endif %}

			{% assign next_content = page.next.content | strip_newlines %}
			{% if next_content != "" %} <div id="post-back">Next Post:</div>
			<div id="next-post"><a href="{{page.next.url}}">{{page.next.title}}</a></div>{% endif %}

		</div>