<meta name="keywords" content="Michael Bassili">
<meta name="language" content="en">
<meta name="description" content="Michael Bassili is a programmer and a side-project advocate.">
<meta name="revisit-after" content="7 days">
<meta name="robots" content="index, follow">
<meta name="title" content="{{page.title}} Michael Bassili">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content=""<meta name="language" content="en">

<meta property="og:url" content="http://bassi.li" />
<meta property="og:image" content="{{base.url}}/assets/personalPhoto.png" />
<meta property="og:keywords" content="Michael Bassili" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Michael Bassili is a programmer and a side-project advocate." />
<meta property="og:title" content="{{page.title}} Michael Bassili">

<link rel="shortcut icon" type="image/png" href="{{base.url}}/assets/personalPhoto.png"/>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/blog.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/fonts.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/content.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/titleBar.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/normalize.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/navigationBar.css">

<script src="{{site.baseurl}}/js/scripts.js"></script>
