<meta name="keywords" content="">
<meta name="language" content="en">
<meta name="description" content="">
<meta name="revisit-after" content="7 days">
<meta name="robots" content="index, follow">
<meta name="title" content="{{page.title}} Michael Bassili">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content=""<meta name="language" content="en">

<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:keywords" content="" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<meta property="og:title" content="{{page.title}} Michael Bassili">

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/fonts.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/titleBar.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/normalize.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/navigationBar.css">

<script src="{{site.baseurl}}/js/scripts.js"></script>
