<meta name="keywords" content="Michael Bassili">
<meta name="language" content="en">
<meta name="description" content="My name is Michael Bassili, and I am a programmer. I also do other things, many of which are not conventionally productive or helpful to my career. Moreover, I really like those productivity self-help books you can find in the Business section of Chapters—I especially like it when authors of said productivity self-help books talk about themselves like they’re the Productivity Messiah, or something.">
<meta name="revisit-after" content="7 days">
<meta name="robots" content="index, follow">
<meta name="title" content="{{page.title}} Michael Bassili">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content=""<meta name="language" content="en">

<meta property="og:url" content="http://bassi.li" />
<meta property="og:image" content="{{base.url}}/assets/personalPhoto.png" />
<meta property="og:keywords" content="Michael Bassili" />
<meta property="og:type" content="website" />
<meta property="og:description" content="My name is Michael Bassili, and I am a programmer. I also do other things, many of which are not conventionally productive or helpful to my career. Moreover, I really like those productivity self-help books you can find in the Business section of Chapters—I especially like it when authors of said productivity self-help books talk about themselves like they’re the Productivity Messiah, or something." />
<meta property="og:title" content="{{page.title}} Michael Bassili">

<link rel="shortcut icon" type="image/png" href="{{base.url}}/assets/personalPhoto.png"/>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/blog.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/fonts.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/highlight.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/content.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/titleBar.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/landing.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/other/normalize.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/navigationBar.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/portfolios.css">

<script src="{{site.baseurl}}/js/scripts.js"></script>
