<div class="navigationBar expandedNavigationBar" id="navigationBar">
  <h1 id="name">MICHAEL B</h1>
  <img id="picture" src="{{site.baseurl}}/assets/personalPhoto.png" alt="Me, Looking at You.">
  <ul class="links" id="pageLinks">
    <li><a href="{{site.baseurl}}/">Home</a></li>
    <li><a href="{{site.baseurl}}/blog">Blog</a></li>
  </ul>
  <ul class="links" id="pageLinks">
    <!-- 
      Hidden On Mobile For UX Reasons 
        Too many small links make the site
        hard to navigate on smaller screens. There
        are still buttons to these pages on the home
        page. Users can still access the pages.
    -->
    <li><a href="{{site.baseurl}}/programming">Programming</a></li>
    <!-- <li><a href="{{site.baseurl}}/journalism">Journalism</a></li> -->
  </ul>
  <div id="icons">
    <a href="mailto:michael@bassi.li"><img src="/assets/email-icon.png" alt="Email icon."></a>
    <a href="https://github.com/LaputanMachines/"><img src="/assets/github-icon.png" alt="GitHub icon."></a>
    <a href="https://www.linkedin.com/in/michael-bassili"><img src="/assets/linkedin-icon.png" alt="LinkedIn icon."></a>
  </div>
  <div id="footer">
    <span id="copyright">&#169; <script>document.write(new Date().getFullYear());</script> Michael Bassili</span>
  </div>
</div>
