<div class="navigationBar expandedNavigationBar" id="navigationBar">
  <h1 id="name">MICHAEL B</h1>
  <img id="picture" src="{{site.baseurl}}/assets/personalPhoto.png" alt="Me, Looking at You.">
  <ul id="pageLinks">
    <li><a href="{{site.url}}" class={% if page.url == '/' %}"current"{% endif %}>About</a></li>
    <li><a href="{{site.url}}/blog" class={% if page.url == '/blog.html' %}"current"{% endif %}>Blog</a></li>
    <li><a href="{{site.url}}/projects" class={% if page.url == '/projects.html' %}"current"{% endif %}>Projects</a></li>
  </ul>
  <div id="footer">
    <span id="copyright">&#169; <script>document.write(new Date().getFullYear());</script> Michael Bassili</span>
  </div>
</div>
<div class="collapseContainer expandedNavigationButton" id="collapseContainer">
  <button type="button" onclick="toggleNavigationBar()" id="collapseButton">></button>
</div>
