<div class="navigationBar expandedNavigationBar" id="navigationBar">
  <h1 id="name">MICHAEL B</h1>
  <img id="picture" src="{{site.baseurl}}/assets/personalPhoto.png" alt="Me, Looking at You.">
  <ul class="links" id="pageLinks">
    <li><a href="{{site.baseurl}}/">About</a></li>
    <li><a href="{{site.baseurl}}/blog">Blog</a></li>
    <li><a href="{{site.baseurl}}/projects">Projects</a></li>
  </ul>
  <ul class="links" id="pageLinks">
    <li><a href="https://github.com/FlatlanderWoman">GitHub</a></li>
    <li><a href="https://medium.com/@mikajis">Medium</a></li>
    <!--<li><a href="https://www.youtube.com/channel/UC0i2XVpmMhY1WwnC4zXsfcA">YouTube</a></li>-->
  </ul>
  <div id="footer">
    <span id="copyright">&#169; <script>document.write(new Date().getFullYear());</script> Michael Bassili</span>
  </div>
</div>
