<!-- Open Graph Meta -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://bassi.li" />
		<meta property="og:title" content="{{page.title}} | Michael Bassili">
		<meta property="og:image" content="http://bassi.li/assets/image-site-banner.png" />
		<meta property="og:keywords" content="michael bassili, personal portfolio, programming blog" />
		<meta property="og:description" content="Michael Bassili pursues programming projects, writes words about stuff, and drinks coffee while listening to music. He also likes video games, I think." />