<div class="container">
  <div class="post__navigation">
    {% if page.previous.url %}
    <div class="post__prev">

      <div class="prev__box">
        <span class="post__nav post__nav__prev">Older post</span>
        <h2 class="post__nav__title"><a href="{{page.previous.url}}">{{page.previous.title}}</a></h2>
      </div>
    </div>
    {% endif %}

    {% if page.next.url %}
    <div class="post__next">
      <div class="next__box">
        <span class="post__nav post__nav__next">Newer post</span>
        <h2 class="post__nav__title"><a href="{{page.next.url}}">{{page.next.title}}</a></h2>
      </div>

    </div>
    {% endif %}
  </div>
</div>