{% assign featured_posts = site.posts | where: 'featured', true %}

{% if featured_posts.size > 0 %}
<!-- begin featured-post -->
<section class="section featured-post animate">
  <div class="container">
    <div class="section__inner">

      <h2 class="screen-reader-text">Featured</h2>
      <div class="row">
        {% for post in featured_posts limit: 6 %}
        <div class="col col-4 col-d-6 col-t-12">
          {% include article.html description=true %}
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section>
<!-- end featured-post -->
{% endif %}
