<!DOCTYPE html>

<html>
	
	<head>

		<!-- Req. Markup -->
		<title>{{page.title}} | Michael Bassili</title>
		
		{% include meta.html %}

		{% include open-graph-meta.html %}

	    <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/header.css">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/footer.css">
	    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/image-logo.png" />
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/normalize.min.css">

	</head>
	
	<body>
	
		{% include header.html %}

		{% include footer.html %}

	</body>

</html>