---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col col-10 col-w-12">
      <div class="post__head">
  
        <div class="post__meta">
          <div class="article__meta-info">
            <span class="article__date"><time datetime="{{ page.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%d %-b, %Y" %}{{ page.date | date: date_format }}</time></span>
            <span class="article__separator">•</span>
            <span class="article__reading-time">
              {% assign words = page.content | number_of_words %}
              {% if words < 360 %}
                {% assign reading_time = 1 %}
              {% else %}
                {% assign reading_time = words | divided_by: 180 %}
              {% endif %}
              {{ reading_time }} min read
            </span>
          </div>
        </div>
  
        {% if page.title %}
        <h1 class="post__title">{{ page.title | escape }}</h1>
        {% endif %}
  
        {% if page.description %}
        <div class="post__description">{{ page.description }}</div>
        {% endif %}
      </div>

    </div>
  </div>
</div>

<!-- begin post -->
<div class="container">

  <div class="row">
    <div class="sidebar-left col col-3 col-w-4 col-d-12">
      <aside class="sidebar">
        {% include sidebar-widgets/widget-post-author.html %}
        {% include sidebar-widgets/widget-featured-posts.html %}
        {% include sidebar-widgets/widget-article-tags.html %}
        {% include sidebar-widgets/widget-toc.html %}
      </aside>
    </div>

    <div class="col col-9 col-w-8 col-d-12">
      <article class="post">
    
        {% if page.video_embed %}
        <div class="post-video">
          <div class="post-video__wrap">
            <iframe src="{{ page.video_embed }}" loading="lazy" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        {% else %}

        {% endif %}

        <div class="post__content">
          {{ content }}
        </div>

        {% include share-buttons.html %}

      </article>
    </div>

  </div>
</div>
<!-- end post -->

{% include post-navigation.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus_identifier %}
  {% include disqus-comments.html %}
{% endif %}